# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/
out/
tmp/

# Temporary avoiding a mess in GIT
/public/src/es5/**/*.js
/public/src/es5/**/*.new
/public/src/es6/**/*.js
/public/src/es6/**/*.new

# Tester screenshots
/tester/screens
/public/_screenshots
